body {
    background-color: black;
    color: #080;
}

/* Center the form on the page */
.review-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(1, 62, 54);
    padding: 20px;
    border: 1px solid #989303;
    border-radius: 5px;
    width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.review-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.review-form input[type="text"],
.review-form input[type="date"],
.review-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #989303;
    border-radius: 4px;
    box-sizing: border-box;
}

.review-form textarea {
    resize: vertical; /* Allows vertical resizing only */
    min-height: 80px;
}

.review-form button {
    background-color: #989303;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.review-form button:hover {
    background-color: #0056b3;
}

@media (max-width: 450px) {
    .review-form {
        width: 90%;
    }
}